.app {
  background-color: #fafafa;
  height: 100vh;
}
.app__headerBox {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  z-index: 1;
}
.app__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.app__headerDummy {
  height: 54px;
}
.app__loading {
  text-align: center;
}
.app__formSignup {
  display: flex;
  flex-direction: column;
}

.app__posts {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}
