.imageupload {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 10px;
  top: 84px;
  position: sticky;
}

.imageupload__progress {
  width: 100%;
}
.imageupload__input {
  padding: 10px;
  margin: 5px 0;
}
